@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');

.section-div{
    min-height: 35rem;
}

.title{
    font-weight: bold;
    line-height: 95%;
}

.subtitle{
    font-weight: bold;
}

.paragraph{
    font-size: medium;
    text-align: justify;
    -moz-text-align-last: right;
    text-align-last: left;
}

.line{
    height: 0.4rem;
}

.light-line{
    height: 0.1rem;
}

.video-row {
  height: 78%;
  /*padding-top: calc(33vh - 64px);*/
  overflow: hidden;
}

#landing-video{
    max-width: 74%;
    width: 78rem;
    padding-top: 2rem;
}

@keyframes arrow-blink1 {
    0% {color: white; }
    25% {color: black;}
    50% {color: white;}
    75% {color: white;}
    100% {color: white;}

}

@keyframes arrow-blink2 {
    0% {color: white; }
    15% {color: white;}
    40% {color: black;}
    75% {color: white;}
    100% {color: white;}
}

@keyframes arrow-blink3 {
    0% {color: white;}
    25% {color: white;}
    40% {color: white;}
    65% {color: black;}
    100% {color: white;}
}

.arrow-row{
    height: 20vh;
    overflow: hidden;
}

.arrow-col{
    text-align: center;
    height: 1rem; 
}

.arrow-col i{
    animation-duration: 1.5s;
    animation-iteration-count: infinite;   
    animation-timing-function: ease;
}

.arrow1{
    animation-name: arrow-blink1;
    font-size: 4rem;    
}

.arrow2{
    animation-name: arrow-blink2;
    font-size: 5rem;    
}

.arrow3{
    animation-name: arrow-blink3;
    font-size: 6rem;    
}

.glitch, 
.circle {
  position: relative;
}

.glitch::before,
.glitch::after  {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle::before, 
.circle::after   {
  content: url("../media/img/circle.png");
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
}
.glitch::before {
  /* ... anything needed to make it identical */

  /* variation */
  left: 3px;
  text-shadow: 2px 0 red;
  
  animation: glitch-anim 8s infinite alternate-reverse;
  animation-timing-function: step-start;
}
.glitch::after {
  /* ... anything needed to make it identical */

  /* variation */
    left: -3px;
    text-shadow: -2px 0 blue;
    animation: glitch-anim-2 8s infinite alternate-reverse;
    animation-timing-function: step-start;
}

.wediv{
    height: 35rem;
    padding-top: 8rem;
}

.we-img{
  width: auto;
  height: 9.5rem;
}

#we1{
    background-image: url('../media/img/we1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;  
    position: relative;
    left: 0;
}

#we3{
    transition: 2s;
    left: 100%
}

#we2{
    /*background-image: url('../media/img/we2.jpg');*/
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;   
    position: relative;
    left: 0;
    overflow: hidden;
}

#we2vid{
  overflow: hidden;
}

#we2vid video{
  height: 35rem;
  width: auto;
  z-index: -1;
    position: absolute;
    left: -17.5rem;
}

#we3{
    background-image: url('../media/img/we3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
}

.wetext:nth-child(2){
  margin-bottom: -1rem;
}

.wetext:nth-child(2){
    font-family: poppins;
}

.wetext{
    font-size: xx-large;
    text-align: left;
    margin-bottom: 5px;
}
.lightfont{
    font-weight: 200;
}

.semibold{
    font-weight: 300;
    font-size: large;
}

.bidiv{
    background: white; /* For browsers that do not support gradients */    
    /*background: -webkit-radial-gradient(white,#bce3ff );
    background: -o-radial-gradient(white,#bce3ff ); 
    background: -moz-radial-gradient(white,#bce3ff );
    background: radial-gradient(white,#bce3ff  );  */
}

/*.bi2div{

}*/


.item--svg-fill text {
  fill: url(#pattern);
}

.bi2line{
    height: 1.8rem;
    margin: .82rem 0 .656rem 0;
}
.bititle{
    margin-bottom: 0px;
}

.bpoint{
  letter-spacing: normal;
}
.bititle1{
    font-size: 9rem;
    letter-spacing: -.4rem;
}

.bititle2{
    font-size: 3rem;
}

#bi-img, #team-img{
    width: 100vw;
    height: auto;
}

.discovery-step{
    padding-top: 2rem !important;
    padding-bottom: 8rem !important;
    margin-bottom: 1rem;
    height: 20rem;
}

.discovery-step p{
    margin-top: 0;
    margin-bottom: 0;
}


#weKnow{

}

#weknow-mask{
    background-image: url(../media/img/weKnowMask.png);
    padding-bottom: 2rem;
    padding-top: 2rem;
    background-size: auto 100%;
    background-position: center;
}
#fact-mask{
    background-image: url(../media/img/factMask.png);
    padding-bottom: 6rem;
    padding-top: 6rem;
    background-size: auto 100%;
    background-position: center;
}

#fact-mask h1{
    line-height: .4;
    font-weight: bold;
}

#fact-row{
    padding: 1rem 1rem; 
}

#fact-row > .col > .col{
  border-right: .1rem dashed white;
}

#fact-row > .col > .col:last-child{
  border-right: 0 dashed white;
}

@media only screen and (max-width: 601px){
  #fact-row > .col > .col{
    border-right: 0 dashed white;
  }
}

/*.fact-img{
    padding: 2rem 2rem 0 2rem;
}*/

.fact-text{
    text-align: center;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.fact-text p:nth-of-type(2){
    margin-top: 0;
    margin-bottom: 0;
}
.fact-text * {
    margin-top: 0;
    margin-bottom: 0;
}

.fact-text h4 {
font-weight: 400;
    letter-spacing: .2px;
    font-family: roboto;
}
.modes-div{
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.modes-div h4{
    letter-spacing: -3px;
}
/*.platformdiv{  
}*/
.software-logo{
    padding: 2% !important;
}

.blog-bg{
    background-image: url('../media/img/blog.jpg');
    background-repeat: no-repeat;
    background-position: center center;  
    background-size: 100vmax;      
}

.blog-bg div h1{
    font-size: 20vmin;
    font-weight: bold;
    letter-spacing: .5vw;
}

.coffeeform{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.input-field label {
    color: #000000;
    padding-left: 1% !important;
    font-size: 1.1rem;
}

/* label focus color */
.input-field input[type=text]:focus + label {
 color: #000;
}

/* label focus color */
#textarea1:focus + label {
 color: #000;
}

   #textarea1:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }

/* label underline focus color */

   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }

.input-field {
    position: relative;
    margin-top: 1rem;
    padding-right: 1% !important;
    padding-left: 1% !important;
}



.example-three{
    position: relative;
}
.example-three > img {
 position: relative;
  top: 0px;
  left: 0px;
  z-index: 2;
}
.example-three > img:nth-child(2),
.example-three > img:nth-child(3) {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  z-index: 0;

}
.example-three > img:nth-child(2) {
  left: 2.5rem;
  animation: example-three-anim-1 8s infinite alternate-reverse;
  animation-timing-function: step-start;
}
.example-three > img:nth-child(3) {
  left: 3rem;
  animation: example-three-anim-2 8s infinite alternate-reverse;
  animation-timing-function: step-start;
}

/* On Demand css*/
#ond-bg{
    background-image: url(../media/img/onDemandBg.png);
    background-position: bottom left;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: calc(100vh - 64px);
    z-index: -1;
    position: absolute;
    width: 100%;
}

/* Platforms*/
.textwbg{
    margin-bottom: -1px !important;
    margin-top: -1px !important;
}

/* Support CSS */

#support-bg{
  background-image: url("../media/img/supportBg.png");
  background-size: 100% auto;
}

.step{
    height: 13rem;
    padding-top: 1rem !important;  
}

/* Training CSS */

#training-bg{
  background-image: url("../media/img/training.png");
  background-size: 100% auto;
}
/* Changes to framework Materializecss */

html {

    font-family: 'Poppins', sans-serif;
}
.row{
    margin-bottom: 0px;
}
.row .col{
    padding: 0;
}

.logo-img{
    margin-top: .6rem;
    max-height: 2.5rem;
    width: auto;
}

body, html {
  margin:0;
  height: 100%;
  overflow-x: hidden;
}

@media only screen and (min-width: 993px){
  .container {
      width: 85%;
  }
}

h1, h2, h3, h4, h5{
  font-family: 'Poppins', sans-serif;
}


/* Animations */

@keyframes glitch-anim {
  0%, 89% {
    visibility: hidden;
  }
  90%{
    visibility: visible;    
    left: -3px;
    text-shadow: -2px 0 red;
    clip: rect(4px, 180px, 16px, 0);
  }
  91% {
    left: 0px;
    text-shadow: 0px 0 blue;
    clip: rect(4px, 180px, 4px, 0);
  }
  92% {
    left: 0px;
    text-shadow: 0px 0 blue;
    clip: rect(42px, 180px, 42px, 0);
  }
  93% {
    left: -3px;
    text-shadow: -2px 0 red;
    clip: rect(19px, 180px, 33px, 0);
  }
  94% {
    left: 0px;
    text-shadow: 0px 0 blue;
    clip: rect(19px, 180px, 19px, 0);
  }
  95% {
    left: 0px;
    text-shadow: 0px 0 blue;
    clip: rect(12px, 180px, 12px, 0);
  }
  96% {
    left: -3px;
    text-shadow: -2px 0 red;
    clip: rect(28px, 180px, 36px, 0);
  }
  97% {
    left: 0px;
    text-shadow: 0px 0 blue;
    clip: rect(28px, 180px, 28px, 0);
  }
  98% {
    left: 0px;
    text-shadow: 0px 0 blue;
    clip: rect(34px, 180px, 34px, 0);
  }
  99% {
    left: -3px;
    text-shadow: -2px 0 red;
    clip: rect(5px, 180px, 18px, 0);
  }
  100% {
    left: 0px;
    text-shadow: 0px 0 blue;
    clip: rect(5px, 180px, 5px, 0);
  }
}



@keyframes glitch-anim-2 {
  0%, 89% {
    visibility: hidden;
  }
  90%{
    visibility: visible;  
    left: 3px;
    text-shadow: 2px 0 blue;
    clip: rect(37px, 180px, 37px, 0);
  }
  91% {
    left: 3px;
    text-shadow: 2px 0 red;
    clip: rect(20px, 180px, 22px, 0);
  }  
  92% {
    left: 0px;
    text-shadow: 0px 0 red;
    clip: rect(20px, 180px, 20px, 0);
  }
  93% {
    left: 3px;
    text-shadow: 2px 0 blue;
    clip: rect(1px, 180px, 13px, 0);
  }
  94% {
    left: 0px;
    text-shadow: 0px 0 red;
    clip: rect(1px, 180px, 1px, 0);
  }
  95% {
    left: 0px;
    text-shadow: 0px 0 red;
    clip: rect(8px, 180px, 8px, 0);
  }
  96% {
    left: 3px;
    text-shadow: 2px 0 blue;
    clip: rect(3px, 180px, 5px, 0);
  }
  97% {
    left: 0px;
    text-shadow: 0px 0 red;
    clip: rect(3px, 180px, 3px, 0);
  }
  98% {
    left: 0px;
    text-shadow: 0px 0 red;
    clip: rect(41px, 180px, 41px, 0);
  }
  99% {
    left: 3px;
    text-shadow: 2px 0 blue;
    clip: rect(27px, 180px, 37px, 0);
  }
  100% {
    left: 0px;
    text-shadow: 0px 0 red;
    clip: rect(27px, 180px, 27px, 0);
  }
}

@keyframes example-three-anim-1 {
  0%, 89% {
    visibility: hidden;
  }
  90% {
    clip: rect(21px, 200px, 54px, 0);
  }
  91% {
    clip: rect(13px, 200px, 31px, 0);
  }
  92% {
    clip: rect(33px, 200px, 82px, 0);
  }
  93% {
    clip: rect(72px, 200px, 107px, 0);
  }
  94% {
    clip: rect(122px, 200px, 137px, 0);
  }
  95% {
    clip: rect(123px, 200px, 150px, 0);
  }
  96% {
    clip: rect(64px, 200px, 69px, 0);
  }
  97% {
    clip: rect(122px, 200px, 161px, 0);
  }
  98% {
    clip: rect(141px, 200px, 156px, 0);
  }
  99% {
    clip: rect(103px, 200px, 115px, 0);
  }
  100% {
    clip: rect(130px, 200px, 131px, 0);
  }
}
@keyframes example-three-anim-2 {
  0%, 89% {
    visibility: hidden;
  }
  90% {
    clip: rect(97px, 200px, 117px, 0);
  }
  91% {
    clip: rect(120px, 200px, 163px, 0);
  }
  92% {
    clip: rect(50px, 200px, 58px, 0);
  }
  93% {
    clip: rect(107px, 200px, 109px, 0);
  }
  94% {
    clip: rect(120px, 200px, 154px, 0);
  }
  95% {
    clip: rect(89px, 200px, 113px, 0);
  }
  96% {
    clip: rect(11px, 200px, 39px, 0);
  }
  97% {
    clip: rect(82px, 200px, 86px, 0);
  }
  98% {
    clip: rect(92px, 200px, 95px, 0);
  }
  99% {
    clip: rect(41px, 200px, 58px, 0);
  }
  100% {
    clip: rect(75px, 200px, 84px, 0);
  }
}


/* Classes for page */

.no-margin{
  margin: 0 !important;
}

.no-padding{
  padding: 0 !important;
}

.mt1rem{
    margin-top: 1rem;
}

.mb1rem{
    padding-bottom: 1rem;    
}

.pt1rem{
    padding-top: 1rem;
}

.pb1rem{
    padding-bottom: 1rem;    
}

.pt2rem{
    padding-top: 2rem;
}

.pb2rem{
    padding-bottom: 2rem;    
}

.mtb1rem{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.ptb2rem{
    padding-bottom: 2rem;
    padding-top: 2rem ;
}

.ptb5rem{
    padding-bottom: 5rem;
    padding-top: 5rem ;
}

.mtb2rem{
    margin-bottom: 2rem !important;
    margin-top: 2rem !important;
}



.slick-slide img {
    margin: auto;
}