.row{
    margin-bottom: 0px;
}
.row .col{
    padding: 0;
}

.logo-img{
    width: 95%;
}

body, html {
  margin:0;
  height: 100%;
  overflow-x: hidden;
}

.section-div{
    height: 60vmin;
}

.title{
 /*   font-size: 11vmin;
    line-height: 12vmin !important;*/
    font-weight: bold;
    line-height: 95%;
}

.subtitle{
/*    font-size: 5vmin; */
    font-weight: bold;
}

.paragraph{
    font-size: medium;
     text-align: left;
}

.line{
    height: 1vh;
}
.video-row {
  height: calc(100vh - 64px);
  padding-top: calc(33vh - 64px);
  overflow: hidden;
}

#landing-video{
    height: 90vmin;
    margin: -60vmin;  
}

.wediv{
    height: 100vmin;
}

#we1{
    background-image: url('../media/img/we1.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100vmax;  
    padding-top: 30vmin;
}

#we2{
    background-image: url('../media/img/we2.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 100vmax;   
    padding-top: 30vmin;
}

#we3{
    background-image: url('../media/img/we3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100vmax;
    padding-top: 30vmin;
}

.wetext{
    font-size: xx-large;
    text-align: left;
}
.lightfont{
    font-weight: 200;
}

.semibold{
    font-weight: 300;
    font-size: large;
}
.bidiv{
    overflow: hidden;
}

#bi-img, #team-img{
    width: 100vw;
    height: auto;
}

#fact-row{
    padding: 0 4vw;
    margin: 2vw 0;  
}

.fact-img{
    padding: 1vmin 2.5vmax;;
    max-width: 45vw;
    min-width: 15.33333vw;
}

.fact-text{
    text-align: center;
    color: #423a83;
}

.fact-text * {
    line-height:  90% !important;
    font-weight: bold;
}

.fact-text h6{
    font-size: larger;
}

.fact-text h5{
    font-size: xx-large;
}
.software-logo{
    padding: 2% !important;
}

.blog-bg{
    background-image: url('../media/img/blog.jpg');
    background-repeat: no-repeat;
    background-position: center center;  
    background-size: 100vmax;      
}

.blog-bg div h1{
    font-size: 20vmin;
    font-weight: bold;
    letter-spacing: .5vw;
}